[2015-04-13 19:10] bortels opened #1 "No keyboard input in terminal"
The terminal seems to be flakey - the first container I ran (bortels/rubydev which is my generic ruby dev environment) showed the irb prompt, but no keyboard input worked. Killing that and starting again just shows [Connected], without the prompt or keyboard working. Tried a few different variants, down to something as simple as busybox. Killed it, restarted, same behavior (no prompt at all in the

[2015-04-14 07:56] myagoo opened #2 "App not opening"
I'm on Linux, I just installed this Chrome App, I followed the installation wizard (http://localhost:4243/_ping give me an OK). But when I start the application, nothing happens and the current tab (in which I started the Docker UI) is closed.

[2015-04-14 08:09] myagoo commented on #2
I'm dumb, my bad, I expected the App to open as a tab.

[2015-04-14 08:09] #2 closed, assigned to nobody

[2015-04-14 11:53] felixgborrego commented on #1
Thanks for your feedback.
You are right there are several improvement I had to add to the terminal.
The terminal auto attaches to the default stdin/stdout/tty of the container and this usually doesn't have stdin enabled. There are several things I'm planing to do here:
- Show in the UI when there is not stdin connected for terminal.
- Allow attach new bash ( Equivalent to `docker exec -it 1a561e16

[2015-05-02 15:49] felixgborrego commented on #1
Fixed and published. There are still minor issues related with term.js but stdin and stout is working.

[2015-05-02 15:49] #1 closed, assigned to felixgborrego

[2015-05-18 20:57] 0x46616c6b opened #3 "Feature Request: Delete Images"
The possibility to remove Docker images would a nice feature.

[2015-06-11 17:17] ghost commented on #3
I Agree :+1:

[2015-06-18 11:14] felixgborrego commented on #3
:+1: The current version allows Garbage collection for unused images but I'll add individual remove for images in the next release.

[2015-06-18 22:32] tohagan opened #5 "Would be nice to support docker compose."

[2015-06-18 23:03] tohagan opened #6 "Windows instructions needs to add "export" to "DOCKER_TLS=no""
According to this ...
- https://github.com/boot2docker/boot2docker/issues/589

I think you should use "export DOCKER_TLS=no" in your profile not just "DOCKER_TLS=no"

But the `export` is missing from this wiki page:
- https://github.com/felixgborrego/docker-ui-chrome-app/wiki/windows

[2015-06-19 12:06] felixgborrego commented on #5
It seems Docker compose doesn't have Rest API just yet. https://github.com/docker/compose/issues/1033.

On the other hand, I wanted to keep this project simple, but I do like the idea of exposing this somehow. I'll take a look.

[2015-06-26 09:08] felixgborrego commented on #6
Thanks, https://github.com/felixgborrego/docker-ui-chrome-app/wiki/windows updated

[2015-06-26 09:08] #6 closed, assigned to felixgborrego

[2015-06-27 19:59] leonty opened #7 "Half work with docker 1.7.0"
Shows only the images. For the pages Home and Containers says "Unable to connect".
Environment:
Server: Ubuntu 15.04, Docker 1.7.0
Client: Chrome 43.0.2357.130 m, Simple Docker UI (Beta) 0.1.2

[2015-06-29 20:30] jamesdcarroll opened #8 "Just kudo"
No issue, just wanted to say thanks and great work. I just started using it and may have some suggestions down the road, but for now...

AWESOME!

[2015-06-29 21:30] felixgborrego commented on #7
Thanks!.

It was a parsing error. The previous API was using number for representing Boolean (0/1) and the new version 1.7 is returning true/false. I'll release a new version in the following days.

Fixed: https://github.com/felixgborrego/docker-ui-chrome-app/commit/ed83ffca965249a7b40750be509f4ff2c1253ec3

[2015-07-02 18:58] felixgborrego commented on #3
Version released with this feature.

[2015-07-02 18:58] #3 closed, assigned to felixgborrego

[2015-07-02 18:58] #7 closed, assigned to felixgborrego

[2015-07-12 16:54] felixgborrego commented on #8
It's just a side project for now, but Kudos are more than welcome!
Thanks!

[2015-07-12 16:54] #8 closed, assigned to nobody

[2015-07-31 20:18] asziranyi opened #12 "incorrect summarized size for containers and images"
There is incorrect size for sum of containers and images in case of many big containers and images. Perhaps this is only an Integer overflow? Suggestion is to convert the summarized size to MB, GB, TB based on size.

![incorrect_size](https://cloud.githubusercontent.com/assets/3259948/9016545/33a6eaf4-37d2-11e5-8326-6ac7f1f9004d.png)

[2015-08-05 18:06] felixgborrego commented on #12
It's an integer overflow, last time I look into this issue I run into an odd scalajs/upickle issue while parsing the json from Docker Remote API but maybe there is a work around.

[2015-08-05 18:19] tom472 opened #13 "Any chance of adding Volume mapping"
I have been testing your Docker UI Chrome app and have been really impressed with it.
One item I was looking for that I did not see was a place to add / do volume mapping when starting up a container.
Is there any chance you will be adding that ability with a button / section like there is for "Ports".
Or
Any chance there can be an additional "command" box that will enter switches ~before~ the nam

[2015-08-08 14:08] #12 closed, assigned to felixgborrego

[2015-08-08 14:28] felixgborrego commented on #13
As far as I know there is no way to send any arbitrary options through Docker Remote API.
It was already in my TODO list, I'll add a simple ui for volume mapping ASAP.

[2015-08-10 03:07] tom472 commented on #13
That's great - Can't wait to see that addition.
Awesome app.

[2015-08-14 06:13] arnobeck opened #14 "run environment and volumes variables"
Hello,
It would be nice to be able to change the default value for environment variables and volumes on the "run" command.
Thanks

[2015-08-15 13:21] felixgborrego commented on #14
Already working on a new version to support Volumes, I'll tackle environment too.

[2015-08-18 08:59] felixgborrego commented on #14
I released a new version (0.3.0) with support for environment and volumes, let me know if you find something is not working properly.

[2015-08-18 08:59] #14 closed, assigned to felixgborrego

[2015-08-18 09:00] felixgborrego commented on #13
I released a new version (0.3.0) with support for environment and volumes, let me know if you find something is not working properly.

[2015-08-18 09:00] #13 closed, assigned to felixgborrego

[2015-08-28 02:23] yahuio opened #15 "Would be nice to support see std/strr from container"
Currently you can only attach to terminal, and see File system changes in container instances. Would be great if there's a tab for std/err.

[2015-09-01 08:58] felixgborrego commented on #15
Thanks for your feedback. I'll see if I can include this in the next release.

[2015-09-06 09:35] felixgborrego commented on #15
@yahu577 I misunderstood your comment. The virtual terminal is already a connection to the stdin/stdout/err of the container.

[2015-09-11 19:53] leonty opened #16 "No scroll bar in console, its window width is changed chaotically"
When I scroll inside the console till the end, its window is as wide as the browser window (ever wider and crosses the border on the right). See 1.png.
When I scroll inside the console up, its windows gets shrinked and the text is wrapped. See 2.png.

Would be great to have always same width console window (as wide as the browser) and to have another scroll bar inside the console window.

![1](htt

[2015-09-11 19:56] leonty opened #17 "Auto copy to clipboard the console commands on the container window"
Would be great to have this enchancement when I click on the >_docker... commands below. Or to have another button "copy to clipboard" rather than to select & ctrl-c.

[2015-09-11 20:00] leonty opened #18 "Image creation history columns are poorly formatted"
The date of creation and sometimes the image size are badly wrapped:

![1](https://cloud.githubusercontent.com/assets/1595354/9824935/ed3356ca-58d8-11e5-949d-b08fc776929e.png)

[2015-09-25 17:28] felixgborrego commented on #16
Thanks for your feedback, I'm aware of this issue and still trying to get this virtual terminal right. I'll keep an eye on it.
On the other hand, I saw the error before, but now I'm not able to reproduce it, see gif.

![1](http://g.recordit.co/XmQLv57HR4.gif)

[2015-09-26 20:06] yonatang opened #19 "Would be nice to have a private docker registry browser"
The second chrome app (that doesn't work very well) have a docker registry browser. This would be a very nice addition to this app.

[2015-10-08 18:24] dimitrovs commented on #5
+1

[2015-10-08 18:27] dimitrovs opened #20 "Support multiple docker instances"
It would be nice to be able to connect to multiple docker instances.

[2015-10-09 14:24] #18 closed, assigned to felixgborrego

[2015-10-09 14:35] #17 closed, assigned to felixgborrego

[2015-10-11 03:47] jzer7 opened #21 "Add instructions for docker-machine"
At least on MacOS, the preferred path is to use docker-machine (instead of boot2docker).  Changes to the documentation on the _Settings_ section would be sufficient.

[2015-10-11 03:57] jzer7 opened #22 "UI - Port selection not accessible from Create"
While on the create _window_, if you select the tabs for "Volumes" or "Environments", you can no longer access the port mapping function.

Solution could be to consider that a tab.

[2015-10-11 13:33] felixgborrego commented on #21
Thanks, I'm going to remove the instructions in the app and just link to the wiki so It's easy to keep the docs up to date.

[2015-10-11 13:37] felixgborrego commented on #20
Thanks for your feedback.
As a first step, I'm going to keep in Settings a list of used connections and an easy way to switch between connections.

[2015-10-11 13:43] felixgborrego commented on #22
I can not replicate this issue. The option "Ports" is showed only if the image has a port defined, can you try with a different image?, for example `training/webapp`

[2015-10-11 13:45] felixgborrego commented on #19
Thanks, for your feedback.
I'm going to evaluate the amount of work involved and maybe include this in the next release.

[2015-10-18 17:04] junejie opened #23 "Cant Stop the Docker pull"
After selecting the repository i would like to clone. It started to clone.
But when i want to stop the pulling. I cant stop it.

Im using chrome 44, Ubuntu 14.04

[2015-10-20 13:31] felixgborrego commented on #23
Hi,
As far as I know there is not way to stop a pull using the Docker Remote API, therefore you can't stop it using the UI.
 I'll take a look to the new version of Docker to see if there is a new way to do it. But for now, I'm sorry, but you can just remove or Garbage collect the pulled images :(

[2015-10-23 05:56] epiphyllum opened #24 "can not connect to my docker daemon"
my docker daemon admin serivce is bound to "-H  tcp://192.168.100.10:1234"

this chrom app for windows can connect to it
but this chrome app in my mac can not connect to it

[2015-10-23 14:05] felixgborrego commented on #24
Hi,
Have you try to connect without the app putting the right url in the browser? something like: https://192.168.100.10:1234/_ping ?
You can see more info in https://github.com/felixgborrego/docker-ui-chrome-app/wiki/Mac-OS-X

[2015-10-23 14:05] #23 closed, assigned to nobody

[2015-10-27 15:02] #22 closed, assigned to nobody

[2015-10-30 10:43] alexrjs opened #25 "Container Running List 'name' column would be nice."
Hi,

great extension, I use it on a regular basis. But, isn't there always a but :-), I miss the "name" column in the "Container Running" list.

I've a bunch of Jenkins docker container running and I can only distinguish between them by the port, even they have "speaking" names.

Would be a nice enhancement.

Thanks and Cheers,
  Alex

PS: A Refresh Icon would be nice too :-)

[2015-10-30 12:57] felixgborrego commented on #25
Thanks to your feedback, seems easy to add, I'll release a new version with this as soon as posible.

[2015-10-30 13:42] alexrjs commented on #25
Hi,

greatly appreciated…

Cheers,
  Alex

[2015-11-15 22:36] donaldquixote opened #26 "Is Swarm supported?"
Apologies for lack of screenshot.

I can point Docker UI to a Swarm master node on the swarm API port (3376), but it seems to only partially work.

The Home page lists version as "swarm/1.0.0 (api: 1.21). There should be three containers, all running, but running containers shows 0. All containers does show 3 as expected.

The Containers page reports "Unable to connect"

The Images page appears to

[2015-11-17 11:28] felixgborrego commented on #26
Hi, personally I haven't try Swarm yet so 'it's a coincidence',  I'll take a look to see if it's easy enough to support, my guess is I need to bump the Docker api version to fix the some incompatibility.
It's something I definitely like to have!

[2015-11-17 11:29] felixgborrego commented on #25
Released

[2015-11-17 11:29] #25 closed, assigned to nobody

[2015-11-17 11:29] #24 closed, assigned to nobody

[2015-11-17 11:30] felixgborrego commented on #20
Released a version with basic support for switching between connections.

[2015-11-17 11:30] #20 closed, assigned to felixgborrego

[2015-11-17 11:30] #16 closed, assigned to nobody

[2015-11-17 11:30] #15 closed, assigned to felixgborrego

[2015-11-17 13:26] alexrjs commented on #25
Many thanks... Great solution... Love it... :-)

[2015-11-17 20:53] felixgborrego commented on #21
Wiki updated with instructions for docker-machine:
https://github.com/felixgborrego/docker-ui-chrome-app/wiki/Mac-OS-X

[2015-11-17 20:53] #21 closed, assigned to felixgborrego

[2015-11-25 10:48] felixgborrego commented on #23
I fond an error in the pull, we still can't cancel but the current version is pulling all the tags so it actually takes quite a while. And it's even more annoying because you can cancel :(.
I'll publish in a few days a version that only pull the 'last' tag.

[2015-11-25 10:51] felixgborrego commented on #26
Already released a version with basic support for Swarm ( I'm preparing some more improvements)
It was a issue in the json parser for some new data included in the api for Swarm.

[2015-11-25 14:44] donaldquixote commented on #26
Great! Took a quick peek and all seems well. Is there a roadmap for enhancements to Swarm support? I have a few suggestions, but I don't want to add noise to the issue queue if you've already made plans for some of them.

Thanks!

[2015-11-25 16:10] felixgborrego commented on #26
@donaldquixote suggestions and ideas are welcome!
Just be aware this is just a side project and I can't really spend as much time as I'd like :(

[2015-11-25 16:13] donaldquixote commented on #26
Understood. Thanks for your time-on-the-side :)

[2015-11-25 16:13] #26 closed, assigned to felixgborrego

[2015-11-27 00:44] marcv2000 commented on #19
I second that. It would be very useful.

[2015-12-03 17:57] mrvini opened #27 "It would be useful to see the names of the containers"
I have 3 web server containers running, it would be nice to see the name of the container.

Thank you for a nice app

[2015-12-04 14:49] felixgborrego commented on #27
Hi, @mrvini thanks for your feedback. I think this was already done in the last update
are you talking about the some thing than [this issue](https://github.com/felixgborrego/docker-ui-chrome-app/issues/25) related?

[2015-12-04 16:36] carloreggiani opened #28 "Any server statistic (memory/disk/cpu)?"
Great tool!

Is it possible to add any statistic about server load in realtime? I'm using a "remote" docker daemon on a linux server and working on my pc only with the docker client.

Could be usefull to monitor CPU/RAM/HDD on the daemon server.

Carlo

[2015-12-04 17:29] mrvini commented on #27
Hi @felixgborrego,
its strange, I've loaded the recent version from the chrome store and I don't see it.
FYI, I am running it on ubuntu 14.04

[2015-12-07 09:38] felixgborrego commented on #28
@carloreggiani thanks for your feedback. I have the raw data, I'll think about an easy way to include this info in the ui.

[2015-12-07 09:42] felixgborrego commented on #27
@mrvini I'll take a look. You should see it under the Container Id.
![screen shot 2015-12-07 at 09 38 59](https://cloud.githubusercontent.com/assets/650738/11623757/daface66-9cc6-11e5-9148-a2e17e9b878b.png)

[2015-12-07 18:05] mrvini commented on #27
@felixgborrego , I apologies , see it now. I was expecting output similar to `docker ps -a`, thus a sep column, and did not see :). Its all good now. closing the issue

[2015-12-07 18:05] #27 closed, assigned to nobody

[2015-12-09 23:34] nnordrum opened #29 "Run as "normal web app"?"
I know virtually nothing about chrome apps, so this may be completely idiotic, but a _very_ quick look at the source looks like it could be possible to just generate the files to be deployable.

Would it be possible to generate this as a webapp in a docker container that any HTML5 browser could use?

Just a thought.

[2015-12-10 14:33] felixgborrego commented on #29
The main reason for been an Chrome app is avoiding the issues with Cross domain (accessing an arbitrary ip from the browser. Anyway It's posible with the proper config, so I'll try a proof of concept to see how easy is to set up.
Other option I've been considering lately, to make it works without chrome (an stand alone app).

[2015-12-10 22:14] nnordrum commented on #29
if you deployed it on each engine, I don't think you should have cross-domain issues, since it's on the same server, just a different port.

Would have to get rid of the drop down of the engines in the upper right, but that's not a big deal.

[2015-12-16 06:24] jaycyb commented on #5
+1

[2015-12-16 07:05] jaycyb opened #30 "Add instructions for docker-machine on Linux"
I am using docker-machine on Linux/Ubuntu and couldn't setup the certificates properly.

The docker-ui-chrome-app works like a charm without https however that breaks docker-machine...

I tried following the steps on the wiki for [OSX](https://github.com/felixgborrego/docker-ui-chrome-app/wiki/Mac-OS-X) and [Linux](https://github.com/felixgborrego/docker-ui-chrome-app/wiki/linux), issue #21 withou

[2015-12-16 10:08] felixgborrego commented on #30
@jaycyb I haven't test myself linux and docker-machine yet, but but maybe this could help http://www.korecky.org/?p=855.

You first will need to generate the p12 file from `key.pem` and `cert.pem` with something like:
openssl pkcs12 -export -out certificate.p12 -inkey key.key -in cert.crt

I'll try it too as soon as I get access to a Linux machine, let me know if you have any progress.

[2015-12-17 08:54] jaycyb commented on #30
thanks @felixgborrego that looks interesting. I will give it a try.

[2015-12-24 08:46] socialdefect opened #31 "Linking and system variables"
Love docker ui but there are still a couple of things that make me have to use the cli; linking containers, setting system variables and port forwards. If these things could be managed from within Docker Ui it would have all important basic docker features and would completely replace the CLI for the average user.

[2015-12-28 12:50] felixgborrego commented on #31
There is already basic support for system variables and port forward when starting a new Image. I'll include linking containers as soon as I can.

[2015-12-28 21:35] pinage404 opened #32 "Link account with https://hub.docker.com/stars/"
Hello,

First, thanks for this app, this was what i searched.

Is is possible to **link the account** with https://hub.docker.com/stars/ to **get starred containers** and **add** the **star from the app** ?

Thanks for this cool app

[2016-01-02 23:35] bdaniel7 opened #33 "Edit container properties"
A very nice enhancement would be to allow the user to edit the container properties, like the command, the environment, working dir, volume mapping.

[2016-01-04 09:42] felixgborrego commented on #33
Currently there is is already basic support for system variables, volume mapping and port forward when starting a container from an Image. Do you mean editing this options when restarting a container?, I'm not sure if this is posible but I'll take a look to the api.

[2016-01-04 17:18] bdaniel7 commented on #33
Ok, where can I edit those variables?
My use case would be:
1. edit a variable
2. start the container
3. if something is not right, stop the container and go to step 1.

[2016-01-04 20:20] felixgborrego commented on #33
With the current version,  you can edit these when you are creating a new container from an Image. Not sure if this is what you are looking for:
<img width="619" alt="screen shot 2016-01-04 at 20 16 52" src="https://cloud.githubusercontent.com/assets/650738/12099448/7bd289ae-b320-11e5-9a7a-5ba53f97025b.png">

[2016-01-04 20:29] bdaniel7 commented on #33
Ok, then I don't have the latest version.
I don't see that screen in what I have installed (Chrome App Simple Docker UI 0.4.1)

[2016-01-08 11:42] gavinengel opened #34 "deploy new containers?"
Is it possible for Docker UI to deploy a new container?

[2016-01-08 21:35] felixgborrego commented on #34
Not sure if I understood your question. It's posible to start a container from an existing image but you can not create a new Image using the ui yet.

[2016-01-12 18:30] bdaniel7 commented on #33
So, can we expect a new release on Google Apps?

[2016-01-12 21:04] felixgborrego commented on #33
@bdaniel7, sorry maybe I'm not understanding you. With the version you have installed, you should be able to edit Environments when staring a staring a new container from an Image. Go to Images>"Select the image"-> Click Start, and see the Environments.

From you previous use case:
0. Select the Image to start
1. edit a variable
2. start the container
3. if something is not right, stop the contain

[2016-01-12 22:26] felixgborrego commented on #28
I'm going to release in a few days a new version with basic support for stats. ref: #35
It'll look like this:
<img width="1126" alt="screen shot 2016-01-12 at 22 08 49" src="https://cloud.githubusercontent.com/assets/650738/12278546/b5b8bb84-b979-11e5-9d20-898c45a7c402.png">

[2016-01-13 05:13] bdaniel7 commented on #33
Ah... now I see what you mean..I was only starting containers already created with the CLI (docker-compose).

[2016-01-13 07:46] #34 closed, assigned to nobody

[2016-01-13 08:01] felixgborrego commented on #32
Thanks for your feedback, I couldn't find any API to get this info.Sso for now I don't see any way to get this data.

[2016-01-13 08:01] #32 closed, assigned to nobody

[2016-01-13 15:04] gavinengel commented on #34
OK.  This is one big difference between Docker UI and Shipyard Project.  I'd love to be able to replace Shipyard with Docker UI.

By the way, do you have a paid channel for your product?  I'm willing to pay a fee for extra features like the one I mentioned.

[2016-01-13 17:33] felixgborrego commented on #34
I'll take a look to Shipyard (I haven't use it myself) and check if this can done through the Remote API.

About a 'paid channel', I don't have but you already make me happy :D. I may add a Donate button in the future. Anyway, sorry for the slow development, It's just a side project I don't really spend too much time on it.

[2016-01-13 22:02] felixgborrego commented on #31
Basic support for linking containers released in version 0.4.2

[2016-01-14 09:10] carloreggiani commented on #28
Thank you, Felix!
I'm ready to test it :)

[2016-01-15 20:31] idiegocs opened #36 "Repit character in console"
view image.
![dock](https://cloud.githubusercontent.com/assets/6705319/12364512/f8a3f8d0-bb9c-11e5-9911-3e75dc97dc7a.png)

[2016-01-19 11:39] AnderssonPeter commented on #29
I don't know if they have the same limitation with cross domain but you could package it as a http://electron.atom.io/ app? but I have to agree a Web app would be the best..

[2016-01-21 20:47] kashyap-parikh opened #37 "Home and Containers tabs hang for (api 1.17, docker 1.7.1)"
I am on docker version 1.7.1 and API v 1.17.
On a VM running ~40 containers the Home and Containers tab take 2+ minutes to load.

Specifically following API spikes CPU usage of docker daemon process

/v1.17/containers/json?all=false&size=true

Removing size returns results instantaneously.

[2016-01-27 18:39] majklovec commented on #5
+1

[2016-01-27 21:20] R0GGER opened #38 "Great, but what about security?"
This is a great app! Wow!
But what about security?

How can I make sure that public_ip:2375 can only used by my own ip/hostname?
OS: Ubuntu 14.04
Docker: 1.9.1

[2016-01-28 10:19] felixgborrego commented on #38
Hi, you are right, on the [wiki for Linux](https://github.com/felixgborrego/docker-ui-chrome-app/wiki/linux) you can see only how to configure it to allow connections from everywhere. I haven't test it myself but here are some options:
- Redefine `DOCKER_OPTS='-H tcp://0.0.0.0:2375` to use accept only connections from your ip.
- Use a similar approach than in Windows/[Macos](https://github.com/fel

[2016-01-28 10:23] felixgborrego commented on #37
Hi thanks for your feedback, I wasn't able to replicate this huge CPU usage/response time (Docker 1.9) so I guess it could be the case that this has been improved in recent Docker version (or my containers doesn't have that many layers).
Anyway I'm going to use your suggestion and remove `size` in the Container tabs, it definitely will make the ui more responsive.
About the Home screen not sure wh

[2016-01-28 10:27] felixgborrego commented on #36
Hi, thanks for your feedback. I'll fix it in the next release.

[2016-01-28 10:28] #33 closed, assigned to nobody

[2016-01-28 10:34] felixgborrego commented on #29
Thanks @Petoj87 I played with the idea and I like it very much.
 I don't have too much time for this project so I rather be focused on bug fixing and adding new functionality. I may resume the idea in a few months.

[2016-01-28 12:06] R0GGER commented on #38
[code]

[2016-01-28 23:06] #38 closed, assigned to nobody

[2016-02-02 06:53] felixgborrego commented on #37
I definitely can't replicate this performance issue with Docker 1.9, I'll keep an eye on this one, but I'm afraid next version will not contain any significant change in this regard.

[2016-02-02 06:53] #30 closed, assigned to nobody

[2016-02-02 07:09] #36 closed, assigned to felixgborrego

[2016-02-22 11:21] danielkocot opened #39 "Internal description for the container"
Could add an interanl description field for the container? So the users have the possibility to share certain infomations about the container.

[2016-02-24 09:51] jhartlep opened #40 "Support basic auth please"
Hey,
I have put my docker remote api behind a nginx reverse proxy (configured via ssl with basic auth).
But this makes Simple Docker UI unable to access the remote api...
When I disable basic auth, I can connect to the api, but I don't want this open without credentials...
Could you please change this?

Best Regards,

[2016-02-29 15:11] ppiccolo opened #41 "connection to swarm cluster fail"
Hi,

i'm unable to connect to the swarm cluster : Unable to connect to http://swarm-master-ip:4000, is Docker daemon running?

however is possible with standard docker api

Bye

[2016-02-29 22:35] felixgborrego commented on #41
@ppiccolo did you try to connect to this url using the just the browser? it doesn't look like a valid swarm url. Just as an example mine is https://192.168.99.100:3376.
You should use the one returned by `docker-machine env --swarm swarm-master` replacing `tcp` by `https`

[2016-03-01 08:47] ppiccolo commented on #41
I'm working without docker-machine, the cluster is deployed over 3 virtual machine over esxi and the swarm standard docker command can connect to the swarm master and replica
ex:
docker -H tcp://192.168.70.205:4000 info

Containers: 3
 Running: 3
 Paused: 0
 Stopped: 0
Images: 3
Server Version: swarm/1.1.2
Role: primary
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Nodes

[2016-03-03 14:19] lvitals commented on #19
1+ I need this

[2016-03-16 15:12] mgttt commented on #40
I have the same requirement as yours...  losing the basic auth, the app is not able to go production...poor....

[2016-03-17 16:01] stedaniels commented on #40
Hi Felix,

Is support for basic auth, or TLS client certificates on your roadmap, or are you open to pull requests?

Cheers,

[2016-03-18 12:50] felixgborrego commented on #40
@stedaniels, it wasn't in my roadmap, but I'll evaluate it.
Basic Auth should be simple to implement, I'll give it a try this weekend.
As for TLS client certificates, if Chrome can connect with a installed TLS client, then the app should connect too.

[2016-03-18 12:53] #28 closed, assigned to felixgborrego

[2016-03-18 12:53] #31 closed, assigned to felixgborrego

[2016-03-21 10:38] felixgborrego commented on #40
I just checked and it's posible to use basic auth just by including the credentials in the url like:

[code]

[2016-03-21 10:40] stedaniels commented on #40
Thanks, ill family at the weekend stopped me from getting a chance to explore it.  That should work great for me :-)  I appreciate you testing and confirming.

[2016-03-21 11:15] jhartlep commented on #40
Thanks,
I just tested it, and it worked!

[2016-03-21 11:15] #40 closed, assigned to nobody

[2016-04-07 17:44] bgrissin opened #42 "trying to connect to docekr for mac OSX and it fails"
the new docker osx whcih uses docker.local as the xhyve instnace to run docker fails to verify

[2016-04-07 19:48] irongomme commented on #5
+1

[2016-04-18 13:10] danielbjornadal opened #43 "TLS/SSL Support"
Cant find anything on SSL support?
Would be great to be able to add key and certificate when connecting to the docker API :)

[2016-04-19 06:50] danielbjornadal opened #44 "Native Docker socket support"
Would be nice if the dashboard supported the native docker tcp socket on docker and swarm.

Now, it errors:
"Unable to connect to http://192.168.26.11:4000, is Boot2docker/docker-machine running?"

[2016-04-22 06:31] neildeng commented on #5
+1

[2016-04-22 18:17] scaamanho opened #45 "Anoying log scroll on console when only want start a container"
On line 225 of `DockerClient.scala` file you use

`val ws = schema + substringAfter(s"$url/containers/$containerId/attach/ws?logs=1&stderr=1&stdout=1&stream=1&stdin=1", "://")`

I supose you use this service to atach container to **docker-ui** container console

here you are using  **logs** flag set to **_true**_ (defaults is false)

This brings all historic logs from the container.
The problem i

[2016-05-03 16:08] felixgborrego commented on #45
Hi, @scaamanho thanks for the feedback. I haven't notice this issue because I can't use the app myself in any production server. But you are right, it's really annoying for long running containers or huge logs.
I'm going to play with your ideas, and see what I can do.

[2016-05-03 16:43] felixgborrego commented on #45
Maybe I just can reorder the information of the Tabs, so the "Terminal" is not the default tab and the app dones't need to get the logs by default.

So now will only get
<img width="966" alt="screen shot 2016-05-03 at 17 36 41" src="https://cloud.githubusercontent.com/assets/650738/14990705/b9167bf2-1155-11e6-91cf-b28151a599b0.png">
@scaamanho what do you think? is it maybe enough?

[2016-05-04 14:42] pletessier commented on #19
+1

[2016-05-11 01:41] adamculp opened #46 "Home tab of the app not connecting"
I am on Ubuntu 16.04 Desktop with Docker version 1.11.1. I followed the instructions on the wiki to set up for a system running systemd at https://github.com/felixgborrego/docker-ui-chrome-app/wiki/linux and all seemed to go well. (systemd shows everything running as expected)

When I try http://localhost:2375/_ping in a browser I receive "OK". However, if I drop the ending and simply enter http:/

[2016-05-11 08:44] felixgborrego commented on #46
Thanks for reporting, you are right, there is a parser issue with the new version, I'll release a fix in a few days.

[2016-05-13 03:45] scaamanho commented on #45
its a nice workarround. thanks for your attention

[2016-05-19 14:36] felixgborrego commented on #46
Version 0.4.4 should fix this issue (already in the store)

[2016-05-19 14:36] #46 closed, assigned to felixgborrego

[2016-05-19 14:37] felixgborrego commented on #45
Version 0.4.4 include this work around (already in the store)

[2016-05-19 14:37] #45 closed, assigned to felixgborrego

[2016-05-19 14:48] felixgborrego commented on #43
Closing this issue,
Not sure if I understood, but Docker Remote API uses by default TLS/SSL, actually you need to install a valid client certificate in order to connect with the Docker Remote API

https://github.com/felixgborrego/docker-ui-chrome-app/wiki/Mac-OS-X
https://github.com/felixgborrego/docker-ui-chrome-app/wiki/windows

[2016-05-19 14:48] #43 closed, assigned to nobody

[2016-05-19 14:49] #41 closed, assigned to nobody

[2016-05-19 14:51] felixgborrego commented on #39
Closing this issue for now,
Docker UI doesn't keep any internal DB to keep this information, and I don't see any easy way to show/share this info.

[2016-05-19 14:51] #39 closed, assigned to nobody

[2016-05-19 14:52] #37 closed, assigned to nobody

[2016-05-19 15:44] adamculp commented on #46
Thank you for all you do. I confirm that it is now fixed.

[2016-05-19 20:52] danielbjornadal commented on #43
Many do not use docker machine. You can connect directly yo the docker API (https://docs.docker.com/engine/reference/api/docker_remote_api/) and controll it from there. But to be able to do this securely, you must add the option to add certificate. Just try to connect directly to the docker engine at port 2375.
https://docs.docker.com/engine/quickstart/

[2016-05-24 13:38] felixgborrego commented on #42
I'm still investigating how to connect, but I haven't found a way to connect from Chrome yet.

[2016-05-25 06:07] kodziek opened #47 "Inactive docker images"
In Images tab there is no info about inactive images (e.g. I can't remove them from UI)
Also in Home screen the counter shows number of active images. These images with REPOSITORY and TAG marked as <none> are unmanageable from UI

[2016-05-27 14:23] exile259 opened #48 "unable to view containers"
App connects, able to view available images and deploy, but am unable to view running containers

[2016-05-27 14:46] felixgborrego commented on #48
I just tested locally with Docker 1.11.0-rc4 (API: 1.23) and it's working.
There may be an incompatibility with a version I haven't test, I'll review it.
Meanwhile,
- what is your version?
- can you update docker?

Also, I'll really appreciate if can you send me the last lines in your Javascript console (mouse right button>Inspect>console tab)[Chrome may need to be in dev mode]

[2016-05-27 15:38] exile259 commented on #48
docker-io.x86_64                    1.7.1-2.el6                       @epel

according to Yum it's the latest available.

I'm on OSX/Chrome 50 and even with developer mode on I do not get any right
click->inspect options in your app

On Fri, May 27, 2016 at 9:46 AM, Felix Garcia Borrego <
notifications@github.com> wrote:

[2016-05-30 10:09] felixgborrego commented on #48
Thanks for taking the time to check it. I tested against 1.7.1 and couldn't find the issue yet.

Still have a few things I'd like to double check. Meanwhile, maybe you can still help me with this issue,
here you can see how to open the inspector:
http://stackoverflow.com/questions/10257301/where-to-read-console-messages-from-background-js-in-a-chrome-extension   (and Inspect index.html)

[2016-06-01 12:58] danielzzz opened #49 "port link is not correctly parsed when the server url contains user/pass"
I have the following management url:
http://admin:pass@myhost.com:5555

which uses basic auth to access, and it works fine.

but the open ports are incorrectly linked:
(suppose it's an apache 8080:80)
instead of myhost.com:8080
I have "admin:8080" as a link.

thanks, dan

[2016-06-07 17:56] lukaville commented on #48
I am trying to use UI with Docker Swarm API and also I am unable to view running containers.

Log:
`error: [ContainersPage] Unable to get Metadata  null - Parser error: Obj(ArrayBuffer((Id,Str(083117818e3e145e93cf3d4ca39083208955753158b5a679dfef62422d0a224f)), (Names,Arr(WrappedArray(Str(/frontend/xxx_frontend_1)))), (Image,Str(registry.xxx.com:5000/frontend:prod)), (Command,Str(/usr/bin/runsvdir

[2016-06-07 20:53] felixgborrego commented on #48
Thanks @lukaville for your report, I'll investigate it and release a new version as soon as possible.
Looks like `ImageID` is missing in the Container definition in some Docker/Swarm API versions.

[2016-06-09 19:52] felixgborrego commented on #48
@lukaville, I released a new version (0.4.8) that may fix the parser issue you reported.
The JSON parser was expecting the field `ImageID`, but this value is present only on API 1.23+

[2016-06-09 19:56] lukaville commented on #48
List of images is working now on API 1.22. Thanks!

[2016-06-10 08:55] #48 closed, assigned to nobody

[2016-06-22 22:18] numeralnathan opened #50 "Import Dockerfile"
It would be nice to be able to open a Dockerfile on my hard drive and have the image created.

[2016-06-23 01:11] numeralnathan opened #51 "Untagged images don't show up in Images screen"
In the Docker console, "docker images" shows tagged and untagged images.  In this Docker Chrome app, only the tagged images are shown.  Please make all images visible.

[2016-06-23 01:13] numeralnathan opened #52 "Deploy container default custom ports"
When deploying a container, the user can click on Ports and then Custom.  A list of ports is displayed.  The Host Ports are blank.  Please change the default to be the same as the Container port.

[2016-06-27 14:46] selam opened #53 "Add a licence information"
What is the license of your app? could you add licence information as file or headers on each source file?

[2016-06-27 19:13] felixgborrego commented on #53
I haven't really think about it before, but the MIT license looks good to me for this project.
Just added a basic [license info](https://github.com/felixgborrego/docker-ui-chrome-app#copyright-and-license) to the project.

[2016-06-27 19:13] #53 closed, assigned to nobody

[2016-06-28 17:31] gabrielmancini commented on #42
run jarkt/docker-remote-api
change the port
enjoy

[2016-06-28 22:46] hectordavila64 opened #54 "the terminal does not have scroll"
When there are many logs would need a scroll in the terminal to see all content. It happens that an exception is raised but I can not see it complete because the terminal does not have scroll.
![image](https://cloud.githubusercontent.com/assets/10518037/16434913/29cfc226-3d58-11e6-8929-76fdd2b39cea.png)

[2016-07-06 09:00] danielzzz opened #55 "use default container ports when possible"
hi, I was wondering how are the ports to be mapped chosen? For example if a container exposes "8043" and I choose "all" to be mapped, you (or docker maybe) randomly selects ports on the host, right?

It would be great if the ports were the same as in the container by default (if available), as this would make the container transparent.

maybe related: #52

cheers, dan

[2016-07-08 22:56] shira52 opened #56 "---"

[2016-07-08 23:02] #56 closed, assigned to nobody

[2016-07-21 22:32] kcampion commented on #42
Thank you @gabrielmancini, it works with this command line:

`# docker run --restart always -p 2376:2375 -v /var/run/docker.sock:/var/run/docker.sock jarkt/docker-remote-api`

[2016-07-26 14:09] alexrjs opened #57 "How to configure for Docker for Mac Beta, since no certs available under ~/.docker/machine/certs/"
Hi,

with the new Docker for Mac Beta, the Documentation for configuring Mac is no longer working... There are no certificates to use... There is no more folder ~/.docker/machine/certs/*

But the docker is available via rest...
`> curl --unix-socket /var/run/docker.sock http://macix:2376/images/json`
`[{"Id":"sha256:0d409d33b27e47423b049f7f863faa08655a8c901749c2b25b93ca67d01a470d","ParentId":"","R

[2016-08-03 11:06] felixgborrego commented on #57
Sorry,
For now, there is no way to connect Chrome with Unix-sockets.
The only workaround I can recommend you is using a proxy:
https://github.com/felixgborrego/docker-ui-chrome-app/issues/42

[2016-08-03 11:13] felixgborrego commented on #55
Sorry but I don't have a clear answer for you.
Docker UI just uses "-P", as far as I know it tries to auto assign the port defined in "EXPOSE" avoiding port mapping conflict.

[2016-08-03 11:13] #55 closed, assigned to nobody

[2016-08-15 15:49] danielzzz opened #58 "display the command line used to create a container"
hi, the app shows the command line it uses while configuring a new container from an image, which is quite useful, but it would be great to be able to have access to this data after a container is created.

thanks!
dan

[2016-08-22 21:08] danielzzz opened #59 "link to hub.docker.com seems to be incorrect"
hi, I am not sure if you're generating the link to hub.docker.com or it's taken from the image description but it seems to be incorrect.

For example, for vimagick/monit it's:
https://hub.docker.com/search/?q=vimagick/monit&searchfield:=

which doesn't find anything, but when I type the same query in the form the url generated is:
https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pu

[2016-09-03 22:23] ajurasz commented on #54
@hectordavila64 try to use `ctrl` + `arrow up\down` it works fine for me.

[2016-09-04 07:59] ajurasz commented on #59
@danielzzz came across this yesterday, seems like search url changed on docker hub. To make it work again ulr need to be change to
`https://hub.docker.com/search/?isAutomated=0&isOfficial=0&q=vimagick%2Fmonit`
these two parameters `isAutomated` and `isOfficial` indicate that we want to search `All` images on docker hub.

But indeed direct link to an image page would be better. I will check if it w

[2016-09-05 09:10] #59 closed, assigned to nobody

[2016-09-15 21:10] felixgborrego commented on #58
The new version 0.4.9 shows now the command line used to create the container (only for new containers created with Docker UI) thanks to a nice PR from @ajurasz

[2016-09-15 21:10] #58 closed, assigned to nobody

[2016-09-26 02:50] juniormazella-zz opened #62 "Status "Unable to connect" on "Images""
All,

When I change to "Image", is showing for me "Unable to connect" and nothing shows for me.
How I fix this problem?

Ths

[2016-09-30 12:21] ajurasz commented on #62
@juniormazella I believe this is due to untagged images like described here: #51

[2016-10-17 09:57] #51 closed, assigned to nobody

[2016-10-17 10:17] felixgborrego commented on #29
I created a new branch to experiment with Electron.
https://github.com/felixgborrego/docker-ui-chrome-app/tree/electron-prototype

The code looks promising,  the main changes are related with the partial rewrite of the HTTP client to be able to connect to the Docker without Chrome.

[2016-10-17 18:50] #62 closed, assigned to nobody

[2016-11-24 13:50] phackwer opened #65 "Change Terminal to Console and create a Terminal for the containter"
How great would it be if you create a terminal to actually get access to the container on SDU. Then you would need to rename the terminal to console or log window. What do you think? #

[2016-12-06 12:05] ashwin31 opened #66 "need linux desktop app"

[2016-12-12 10:12] slavus commented on #66
+1 also needs linux desktop app

[2016-12-24 09:53] daaru00 commented on #66
+1

[2017-01-05 14:50] felixgborrego commented on #66
Released a beta version for Linux, only tested on Ubuntu.

https://github.com/felixgborrego/docker-ui-chrome-app/releases

[2017-01-05 14:50] #66 closed, assigned to felixgborrego

[2017-01-05 14:52] felixgborrego commented on #57
You can use The native SimpleDockerUI for Mac. It makes easy to connect with Docker for Mac.

https://github.com/felixgborrego/docker-ui-chrome-app/releases

[2017-01-05 14:52] #57 closed, assigned to nobody

[2017-01-05 14:54] felixgborrego commented on #44
You can use native sockets (and Docker for Mac) using the native SimpleDockerUI for Mac.
https://github.com/felixgborrego/docker-ui-chrome-app/releases

[2017-01-05 14:54] #44 closed, assigned to nobody

[2017-01-05 14:55] felixgborrego commented on #29
You can install now a native version for Windows, Linux and Mac (still in beta).
https://github.com/felixgborrego/docker-ui-chrome-app/releases

[2017-01-05 14:55] #29 closed, assigned to nobody

[2017-01-05 15:01] felixgborrego commented on #42
The native version of SimpleDockerUI for Mac  (still in beta) works fine with Docker for Mac.
https://github.com/felixgborrego/docker-ui-chrome-app/releases

[2017-01-05 15:01] #42 closed, assigned to nobody

[2017-01-05 16:14] alexrjs commented on #57
Thanks, yes 0.5.3 does work. But the Home Screen has an odd message:

But it works:

And switching is easy

Cheers,
  Alex

[2017-01-06 04:25] ashwin31 opened #67 "need software from ubuntu software centre"

[2017-01-07 18:12] saggiyogesh commented on #14
Is this include setting up new environment variables ?

[2017-01-10 12:32] felixgborrego commented on #67
Hi @ashwin31 what do you mean by "need software"?
At the moment, I'm not planning on releasing through "Ubuntu software centre"

[2017-01-10 12:48] ashwin31 commented on #67
okay @felixgborrego

[2017-01-10 12:48] #67 closed, assigned to nobody

[2017-02-02 04:40] yoshihingis opened #69 ""Deploy container" button was not worked."
I wonder whether this trouble is issue; it will be the specification of your Docker Ui.

I built one image by nvidia-docker, hence I used CUDA-tool kit and CUDA driver.
I used you docke-ui to deploy container of this image.
I select the image and clicked "Deploy container",but  there was no re-action.

I tried other images without nvidi-docker ; ubuntu14.04,docker-hello world ,etc ; "Depoy Contain

[2017-02-02 12:08] sneumann opened #70 "Only partially working on Ubuntu 14.04 with docker 1.13.0"
Hi, I get the `Unable to connect to unix:///var/run/docker.sock, is Docker daemon running?`

My user is in the docker group:
`uid=1000(xxx) gid=1000(xxx) groups=1000(xxx),4(adm), [...],124(sambashare),999(docker)`

and the socket is accessible by group docker:
`srw-rw---- 1 root docker 0 Jan 23 16:57 /var/run/docker.sock`

I can pull/start/stop containers from the commandline as that user.
I can s

[2017-02-02 14:34] Dmitry1987 opened #71 "windows 7, shows "squirrel.exe crashed" on start"
Hi, just to let you know, there's some crash on windows 7:

![image](https://cloud.githubusercontent.com/assets/9369080/22553433/5972baf6-e965-11e6-9cae-6b63c0a18044.png)

hope it helps,
thanks!

[2017-02-03 10:58] felixgborrego commented on #70
Thanks for reporting,
I just updated myself to Docker 1.13.0 and I'm getting the same issue (worked for 1.12.x).
Probably an incompatibility in the Docker Remote API for 1.13, will ping you once I have the fix.

[2017-02-03 13:22] alexrjs opened #72 "If unix:///var/run/docker.sock is used, the Url in the container site is not working/wrong"
As stated in the title, the url in the container detail page is wrong (See screenshots). In my opinion it should be "localhost" and not /var/run/docker.sock.

![bildschirmfoto 2017-02-03 um 14 18 20](https://cloud.githubusercontent.com/assets/10467960/22592790/ac898fc4-ea1b-11e6-8ca1-004e91f9934e.png)

![bildschirmfoto 2017-02-03 um 14 19 14](https://cloud.githubusercontent.com/assets/10467960/225

[2017-02-07 20:46] zoutepopcorn opened #74 "Howto build the Chromeapp"
I tried to build your chromeapp.

Included the bower    OK
Installing sbt               OK
compiling sbt              NOT OK :(

https://github.com/zoutepopcorn/docker-ui-chrome-app/blob/e533bdfb657c546fcc37ab1918b61883e06a064d/chromeapp/%20README.md

In the dir:
[code]

It compiles. But now the plugin still cant find: scalajs-fastopt.js

Maybe you can have a look. I dont know scala.js. Maybe we c

[2017-02-10 17:37] zoutepopcorn commented on #50
@felixgborrego @nathanila great. Do you know how to compile? I cant find my scala ..js output files. (see newest issue)

I realy want a Dockerfile import :D.

Thanks for the great work.

[2017-02-15 03:22] shanff opened #75 "Desktop App on Fedora 25"
Using the desktop app on Fedora 25.  Have setup the connection to Docker Remote API on localhost with both IP and .sock.  Both different connections validate separately.  When I save and go "Home", regardless of which connection type i'm using, I get "Unable to connect to http://localhost:2375, is Docker daemon running? Go to Settings"

selinux is enabled, but not alerting on anything.  The Chrome

[2017-02-15 10:05] felixgborrego commented on #75
I haven't tested with Fedora25, but I get similar issues with the version of Docker 1.13.x
Can you tell me what Docker version are you running?  Can you see the list of containers?  Maybe it's related to #70.

[2017-02-15 14:50] felixgborrego commented on #74
Working with `scala.js` can be tricky.
The instructions to compile as an Electron app are here:
https://github.com/felixgborrego/docker-ui-chrome-app/blob/master/README.md

Basically you need to `/docker-ui-chrome-app$ sbt electron/fullOptJS`

[2017-02-15 14:51] #74 closed, assigned to nobody

[2017-02-15 20:34] pinage404 commented on #75
I have the same issue on a Debian 8 based distro

[code]

On the home tab, i have just the message:
[code]

The others tabs "Containers", "Images" and "Settings" work well as usual

[2017-02-15 20:51] shanff commented on #75
@felixgborrego , yes, my version is 1.13.0  No containers or other information being shown.  I'm assuming this can be filed as a duplicate of #70 with the understanding that it appears to be distro agnostic.

[2017-02-16 03:27] #75 closed, assigned to nobody

[2017-02-16 03:27] shanff commented on #75
Close it as a duplicate to #70

[2017-03-01 14:54] alexrjs commented on #72
Guess I was wrong with "localhost". At least on macOS. :-( Seems neither 'localhost' nor the 'container IP' is working, only the hostname (of the docker host with /var/run/docker.sock) works correctly. Sorry for the wrong advise.

[2017-03-01 14:54] #72 closed, assigned to nobody

[2017-03-24 10:32] #70 closed, assigned to nobody

[2017-04-07 13:48] donkfather opened #76 "Type in interface :)"
There is a typo :
`Contaner` exposed ports
9200/tcp, 9300/tcp

On the image view

[2017-04-27 23:13] yoshihingis opened #77 "I want to modefiy simple-docker-ui for simple-nvidia-docker UI."
It is not issue.
Simple-docker-UI is bery useful ang great GUI ,but it can not build up Nvidia-docker container fromNvidia docker images.

Could you tell me the the way to build up Nvidia-docker container from Nvidia-docker images?

[2017-05-01 16:03] DroWnThePoor opened #78 "Connecting on Linux"
The wiki shows using unix:///var/run/docker.sock, but I don't understand the syntax to enter this.
I'm using this remotely, obviously, from a Linux laptop. So how should I connect by a direct IP address?

I'm new to Docker, this may be an obvious answer.

[2017-05-03 15:07] felixgborrego commented on #78
this `unix:///var/run/docker.sock` syntaxis is for connecting to a local Docker using the socket connection.
For your case, you will need to use `http://IP:port`, and your remote Docker will need to have the "Docker remote API" enabled with that port. Doing something like [this](https://github.com/felixgborrego/simple-docker-ui/wiki/linux-chrome#linux--without-systemd)

[2017-05-03 23:01] DroWnThePoor commented on #78
Thank you so much, because I was very confused. I didn't realize it used a separate method for local versus remote, I was about to try to bind the sock to an IP and use TLS lol. Issue solved.

[2017-06-26 20:42] DroWnThePoor opened #80 "Terminal tab, possible issue on Linux"
I'm runing SimpleDockerUI on Ubuntu 16.04, and all of my running containers were started in a standard terminal, not with the SDUI app.
My host is Ubuntu 16.04 with Docker version 17.05.0-ce, build 89658be, from the latest release build.
When I select a container and then click the terminal tag I can see the output, but then at the bottom in red it shows: [Disconnected]
Clicking the attach or exec

[2017-08-06 18:04] StefH opened #81 "When running SimpleDockerUI-setup.exe v0.5.5 I get error about Squirrel.exe?"
![image](https://user-images.githubusercontent.com/249938/29005752-5f154582-7ae2-11e7-91cf-0da587765472.png)

[2017-08-06 18:53] StefH commented on #76
Another typo:

`Enviromments` should be `Environments`

[2017-08-08 09:28] felixgborrego commented on #76
Ref: https://github.com/felixgborrego/simple-docker-ui/pull/82

[2017-10-01 21:05] andrewschott commented on #80
I have this issue as well.  Swithcing to another tab (Info, Stats, FS Changes) and back reconnects, but it seems if there is a wee bit of inactivity on screen it will d/c.

[2017-12-18 15:06] ravensorb commented on #81
I am running into the same issue -- I am running on Server 2016 with .NET 3.5 and 4.6 enabled.

[2018-01-24 07:37] sneumann commented on #70
Just saying that I am using simple-docker-ui (0.5.5-1) again this year (now on ubuntu 16.04.03 with Docker 17.12.02-ce) in the same course, and everything works smoothly in the preliminary tests. Thanks, yours, Steffen

[2018-12-02 14:55] emaayan commented on #81
same here

[2020-03-05 20:02] geiseri opened #87 "Make this a PWA"
I use the chomebook app right now, but how hard would this be to move to a PWA?

[2020-10-15 18:02] BrunoCodeman opened #89 "(SimpleDockerUI:226832): Pango-ERROR **: 14:59:38.034: Harfbuzz version too old (1.2.7)"
Operating system: Ubuntu 20.04

SimpleDockerUI just won't open.

[2020-12-17 10:25] Mirocow commented on #89
Operating system: Ubuntu 20.10
SimpleDockerUI just won't open.

(SimpleDockerUI:162028): Pango-ERROR **: 13:22:54.286: Harfbuzz version too old (1.2.7)

[2021-03-05 17:24] ice1x commented on #89
Same on Ubuntu 19

[2021-03-08 07:28] 1pavanb commented on #89
Ubuntu 20

[2021-10-29 03:58] Chaho12 opened #90 "does not work for mac big sur 11.6"
I do not get any `request for access keychain` alert or sth when I use simple docker ui.
As shown in image below, i can successfully access docker API with chrome, but fails on docker ui.
![image](https://user-images.githubusercontent.com/25147023/139373248-2d9fb47a-dc1b-446a-b501-606a3ea9d5a1.png)

[2021-11-08 17:16] Hammer2900 commented on #89
Ubuntu 21.04